html {
  font-family : Helvetica, sans-serif;
}
body{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}
code {
   font-family : Courier New, monospace;
}
p{
  background-color : white;
  opacity : 0.5;
}

li {
  padding-bottom : 5px;
}
