body {
	font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
	font-size: 1rem;
}

h1{
	font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
	margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
h2 {
	font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
	margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

p{
	margin: 0.8em 0;
}

a {
	color: #4183C4;
}
	
code {
	font-family : Courier New, monospace;
	background-color : #f8f8f8;
	border-radius: 3px;
	padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}





.corps{
	margin: 50px;
	padding : 10px;
}

li {
  padding-bottom : 5px;
}
	
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right : 0;
  width: 100%;
}

.nav li{
	float : right;
}

.nav li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
}
