html {
  font-family : Helvetica, sans-serif;
}
body{
  background-image: url("bg.jpg");
  margin : 5% ;
}
code {
   font-family : Courier New, monospace;
}
div{
  background-color : white;
  opacity : 0.75;
}

li {
  padding-bottom : 5px;
}
